API_ID = 31376570
API_HASH = "6b869ab57239d9b73a0ac1964f03e9b7"
BOT_TOKEN= "8875211061:AAGGxx1haGV3A39sf28zAxByyg3ZnzdXVK0"
LOGGER_ID= -1003997405288
MONGO_DB_URI= "mongodb+srv://bsdk:betichod@cluster0.fgj1r9z.mongodb.net/?retryWrites=true&w=majority"
OWNER_ID= 6740955542  
STRING_SESSION="BQFitqsAF3oULaegJz4n8ebnHvAiaUN-gh5lx8oUcFKnIVx_9ban1ErJk37yrZiVxS4bAfIWT0F_OnQPG544uY1OeecSIihYR5cc7XuzEYTHNDsJNZYxgyE8ucYfdqQiq3I-dpKSUOi9_jEekH5v8qm-2M4nwPcJOFgAJSD3OaEUPzq1cwqkqyvhVTJk4U4mofRdqsZQLvm59x6Wtds3eRLJ9zWD87Wx4PIi0dufAWWacVhK-petN0ZXqeRoP3e4gOWYAkQecG7ql2oRSHsmQ2WySGKvgysufJCYHe3wWUVtyyXWmYChm00rmS4HTQKZveyYG2x6_rTj7uBBZf0pkaMkgs0EFQAAAAGh1VhEAA"
